/Dialog Creator/Lesson Script Creator/nbproject/private/
/Dialog Creator/Lesson Script Creator/build/
/Dialog Creator/Lesson Script Creator/dist/
/Dialog Creator/Trivia Script Creator/nbproject/private/
/Dialog Creator/Trivia Script Creator/build/
/Dialog Creator/Trivia Script Creator/dist/